@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap');
label {
    font-family: 'Open Sans Condensed';
    font-size: xx-large
}

body {
    background-color: lightcoral
}

input[type="submit"] {
    background-color: aquamarine
}